<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>9cdca5f0-11fa-462d-af4c-1288b1870a7a</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>115691</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>923883022</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>65847038</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015046</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-D3C82EF9-A8ED-43F3-9054-CB43A4B58D54</Id>
        <Name>ArticlePageAd_04F85D</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015047</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-6B705A3B-B53A-40B5-BDD3-71EE68FDD8C5</Id>
        <Name>ArticlePageAd_9F9988</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015048</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-408C757F-DD34-40E9-AD18-A3466AB8AFE7</Id>
        <Name>ArticlePageAd_8B64D8</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015091</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-9AAF315B-2D48-42E3-A1BB-07E0825B86D1</Id>
        <Name>ImagePageAd_3AC72B</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015092</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-9AF20312-D030-49B3-907A-756086B9C535</Id>
        <Name>MainPageAd_1FBD10</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015094</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-D350DBE9-ECDE-42C7-AF79-DFC570B4928A</Id>
        <Name>MainPageAd_B79C97</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015095</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-95E9FE7E-BD6E-4ED3-B9F1-D0B11FB56DA0</Id>
        <Name>MainPageAd_43D67F</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11015096</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-7AA20CD4-D5E2-431C-AA84-13C6626ECC46</Id>
        <Name>CategoryPageAd_E8BF80</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>0</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-D3C82EF9-A8ED-43F3-9054-CB43A4B58D54</Id>
        <Name>ArticlePageAd_04F85D</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-6B705A3B-B53A-40B5-BDD3-71EE68FDD8C5</Id>
        <Name>ArticlePageAd_9F9988</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-408C757F-DD34-40E9-AD18-A3466AB8AFE7</Id>
        <Name>ArticlePageAd_8B64D8</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-9AAF315B-2D48-42E3-A1BB-07E0825B86D1</Id>
        <Name>ImagePageAd_3AC72B</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-9AF20312-D030-49B3-907A-756086B9C535</Id>
        <Name>MainPageAd_1FBD10</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-D350DBE9-ECDE-42C7-AF79-DFC570B4928A</Id>
        <Name>MainPageAd_B79C97</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-95E9FE7E-BD6E-4ED3-B9F1-D0B11FB56DA0</Id>
        <Name>MainPageAd_43D67F</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-7AA20CD4-D5E2-431C-AA84-13C6626ECC46</Id>
        <Name>CategoryPageAd_E8BF80</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2014-11-11T15:53:40.5397765Z</UpdatedDateTime>
</AdMediatorConfiguration>